SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

POSTGRES_DB=habit_tracker
POSTGRES_USER=habit
POSTGRES_PASSWORD=habit_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

TELEGRAM_BOT_TOKEN=
TELEGRAM_API_URL=
